{
  "extends": "./../.eslintrc",
  "parser": "babel-eslint",
  "env": {
    mocha: true
  },
  "globals": {
    "jest": false
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": false}]
  }
}
